default:
    paths:
        features: features
        bootstrap: %behat.paths.features%/bootstrap
    context:
        class: Infinity\Bundle\TestBundle\Test\Context\FeatureContext
    formatter:
        name: pretty
    extensions:
        Behat\MinkExtension:
            base_url: 'http://localhost'
            sessions:
                default:
                    goutte: ~
                javascript:
                  selenium2: ~
            default_session: goutte
            javascript_session: selenium2
            browser_name: firefox
        Behat\Symfony2Extension: ~
